@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-primary: #f4bf00;
  --objectives-cards-transform-factor: 8rem;
  scroll-behavior: smooth;
}

.u-col-black {
  color: #111!important;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 37.5em) {
  html {
    font-size: 56%;
  }
}

body {
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  /* background-color: #f2f2f2; */
}

.section-title {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-primary);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  /* margin-top: 0.5rem; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 10000000;
}

.header__logo-text {
  font-size: 2rem;
  color: var(--color-primary);
}

.header__nav {
  background-color: #000 !important;
}

.header__nav--link {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 4rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  transition: all 0.4s ease;
}

.header__nav--cta {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 10px;
  text-transform: capitalize;
  font-weight: 600;
}

.header__button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
  z-index: 10000;
}

.header__button svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: #fff;
}

.header__nav {
  transition: all 0.5s ease;
}

@media screen and (max-width: 56.25em) {
  .nav_closed {
    transform: translateX(500px);
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    margin-top: 3rem;
    padding: 0 3rem;
    gap: 5rem;
    padding-top: 2rem;
  }

  .header__button {
    display: flex;
  }
}

.hero {
  margin-top: 8rem;
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url(./images/home-bg.jpg);
  background: linear-gradient(#f4bf009d, #f4bf00a6), url(./images/home-bg.jpg);
  background: linear-gradient(rgba(234, 165, 95)), url(./images/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__details {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin-top: 3rem;
}

.hero__textbox > * {
  color: black !important;
}

.hero__textbox--text-main {
  font-size: 9rem;
  /* font-family: "Mountains of Christmas", serif; */
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.hero__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.hero__detail svg {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: currentColor;
  margin-bottom: 1rem;
}

.hero__detail--text {
  color: #fff;
  color: currentColor;
  font-weight: bold;
}

.hero__detail--vision {
  margin-top: 3rem;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

@media screen and (max-width: 37.5em) {
  .hero {
    padding: 2rem;
  }

  .hero__textbox--text-main {
    font-size: 5rem;
  }
}

/* about section */
.about-section {
  margin-top: 4rem;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about__container--text {
  flex: 1;
  padding: 20px;
  text-align: justify;
  line-height: 3;
}

.about-image {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

@media screen and (max-width: 59.375em) {
  .about__container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 37.5em) {
  .about-image {
    min-width: 100%;
  }
}
/* end of the about section */

/* event details section */
.event-details__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 2rem;
  /* background-color: var(--color-primary); */
  background-color: #000;
  padding: 2rem 0;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
}

.detail svg {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  /* fill: #fff; */
  fill: var(--color-primary);
}
/* end of event details section */

/* objectives section */
.objectives-section {
  margin-top: 4rem;
  background-color: var(--color-primary);
}

.objectives__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 1rem;
}

.objective {
  display: flex;
  width: 100rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  background-color: #fff;
  backface-visibility: hidden;
}

/* transforms for the objective */
.objective--2 {
  transform: translateX(calc(1 * var(--objectives-cards-transform-factor)));
}

.objective--3 {
  transform: translateX(calc(2 * var(--objectives-cards-transform-factor)));
}

.objective--4 {
  transform: translateX(calc(3 * var(--objectives-cards-transform-factor)));
}

.objective--5 {
  transform: translateX(calc(4 * var(--objectives-cards-transform-factor)));
}

@media screen and (max-width: 75em) {
  .objective {
    width: 100%;
  }

  .objective--2,
  .objective--3,
  .objective--4,
  .objective--5 {
    transform: none !important;
  }
}

@media screen and (max-width: 50em) {
  .objective {
    display: flex;
    flex-direction: column;
  }

  .objective__image {
    width: 100% !important;
  }
}

.objective__image {
  height: 30rem;
  width: 50%;
  min-width: 40%;
  margin-right: 3rem;
}

.objective__image img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.objective__title {
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0;
}

.objective__text {
  text-align: justify;
  padding: 0 0.5rem;
}

.objective__action {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  background-color: var(--color-primary);
  color: #111;
  text-transform: capitalize;
  text-align: center;
  border-radius: 3px;
  font-weight: 600;
  margin-top: 1rem;
  display: none;
}

@media screen and (max-width: 37.5em) {
  .objectives__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0.5rem;
  }

  .objective {
    width: 100% !important;
  }
}
/* end of objectives section */

/* ticket section */
.ticket-section{
  background-color: #000;
  padding: 3rem 1rem;
  margin-top: 1rem;
}
.ticket-link {
  display: block;
  text-decoration: none;
  padding: 1.5rem 5rem;
  margin: 2rem auto;
  background-color: var(--color-primary);
  width: max-content;
  text-transform: capitalize;
  font-weight: 700;
  color: #111;
  border-radius: 100px;
  transition: all 0.2s ease;
}

.ticket-link:hover {
  transform: scale(1.1);
}
/* end of the ticket section */

/* sponsor section */
.sponsors {
  margin: 10rem auto;
}

.sponsors__title {
  text-align: center;
}

.sponsors__image-main {
  display: block;
  margin: 2rem auto;
  width: 100%;
}

.sponsors__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .sponsors__image-main {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.sponsor {
  --size: 16rem;
  width: var(--size);
}

.sponsor--width-enlarge {
  --size: 25rem;
  width: var(--size);
}

@media screen and (max-width: 900px) {
  .sponsor {
    width: 80%;
    margin: 1rem auto;
  }
}
/* footer section stylings */
.footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
